@CHARSET "UTF-8";

div.page
{
	max-width: 550pt;
}

.contents-frame
{
	background: #efede2;
	padding: 10pt;
}

.contents-frame ul 
{
        list-style-type: none;
        padding-left: 0px;
        margin-left: 0px;
}

.contents-frame ul li span 
{ 
        float: left;
        text-align: left;
        padding-right: 10pt;
}

.helper-frame
{
	background: #efede2;
	padding: 5pt;
}


div.pic div
{
	font-size: 80%;
}

div.pic
{
	text-align: center;
	margin: 20px;
}

.contents-frame .text, .contents-frame h2
{
	margin: 0;
}

h2 .number, h3 .number, .contents-frame .number
{
	color: #8F8759;
}


h3
{
	font-size: 110%;
}

table.commands 
{
	margin-top: 10pt;
	margin-bottom: 10pt;
	border-left: 1px solid #d0d0c5;
	border-top: 1px solid #d0d0c5;
}

.commands tr td
{
	background: #efede2;
	border-right: 1px solid #d0d0c5;
	border-bottom: 1px solid #d0d0c5;
	padding: 5pt 9pt 6pt 9pt; 
	vertical-align: top; 
}

.commands thead td
{
	background: #e7e4d5;
	color: #35321f;
	font-weight: normal;
	text-shadow: 0 0 1pt #c2ba94;
}

.commands td p.title
{
	font-style: oblique;
}

p:first-child
{
	margin-top: 0;
}

p:last-child
{
	margin-bottom: 2pt;
}

.codeframe
{
	border: 1pt #d0d0c5 solid;
	background: #efede2;
	padding: 2pt 4pt 2pt 4pt;
	overflow: auto;
}
div.codeframe
{
	padding: 6pt 8pt 6pt 8pt;
	margin-top: 10pt;
	margin-bottom: 10pt;
}
span.codeframe
{
	padding: 0pt 2pt 2pt 2pt;
}
.codeframe code
{
	margin: 0;
	white-space: pre;
}
span.codeframe pre
{
	display: inline-block;
}

.codeframe .instr
{
	color: #7B7B8C;
	font-weight: bold;
}

.codeframe .label
{
	color: #35321f;
}

.codeframe .comment
{
	color: #7B7B8C;
}

.codeframe .param
{
	color: #35321f;
}

.codeframe .optional
{
	font-style: italic;
}
