@CHARSET "UTF-8";

.news-frame
{
	border: 1pt #d0d0c5 solid;
	background: #efede2;
	padding: 10pt;
	margin: 5pt;
}

.news-date
{
	color: #35321f;
	font-weight: bold;
	margin: 0pt;
	margin-bottom: 5pt;
	text-shadow: 0 0 1pt #c2ba94;
}