/* @font-face {
  font-family: 'Univers';
  src: url("../fonts/Uni-Med.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Univers';
  src: url("../fonts/Uni-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
*/

body
{
	font-family: 'Verdana', sans-serif;
	font-size: 10pt;
	padding: 0;
	margin: 0;
	background: #e7e4d5;
}

div.header
{
	margin: 0;
	padding: 0pt;
	padding-bottom: 2pt;
	padding-top: 20pt;
	background: #333333;
	color: #dddddd;
}

div.page
{
	width: 80%;
	max-width: 550pt;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0pt;
	padding-right: 0pt;
}

div.text
{
	padding-top: 7pt;
}

.header p  
{
	margin: 0pt;
}

div.menu
{
	float: right;
    position: relative;
	
	overflow: hidden;
	white-space: nowrap;
}

div.menu span.item-selected
{
	color: #e0e0ff;
	text-shadow: 0pt 0pt 3pt white;
}

div.menu a.item:link 
{
	color: #a0a0cc;
}
div.menu a.item:hover 
{
	text-shadow: 0pt 0pt 5pt white;
}
div.menu a.item:visited 
{
	color: #b0b0c0;
}

span.divider
{
	color: #666666;
}